header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-between;
    padding-bottom: 25px;
    align-items: center; 
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h1 {
    max-width: 80%;
}


.login_icon {
  width: 50px;
 height: 50px;
 
}

.logo {
    width: 180px;
    height: 50px;
    cursor: pointer;
    padding: 20px;
  }

.search-bar {
    border-style:ridge;
    padding: 20px; 
    border-radius: 50px; 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #505050;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .search-bar-button {
    background-color: rgb(247, 52, 4);
    border-radius: 50px; 
    width: 30px;
    height: 30px;
    }
  
    .search-bar-button img{
      width:15px;
      height:15px;
    }

  .property-type {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0px solid #ccc;
    border-top: 1px solid #c2bebe;
    justify-content:space-around;
    cursor: pointer;
    margin: 0 auto;

  }

  .icon {
    height: 35px;
    width: 35px;
    display: block;
    margin: 0 auto;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
  }
  .gallery img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

.address {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cost {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inspiration {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 background-color: whitesmoke;
 width: 100%;
} 

ul.inspiration {
 list-style: none;
  display: flex;
  background-color: whitesmoke;
  margin: 0 auto;
}


ul.inspiration li button {
  padding: 0px 30px;
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0 auto;
}

.locations {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: whitesmoke;
  cursor: pointer;
}

ul.locations {
  list-style: none;
  display: flex; 
  
}

ul.locations li button {
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-right: 80px; 
  

}
.locations {
  text-align: center;
  width: 100%;
  
}

.locations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 10px;
}

.support {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-top: 1px solid #505050;
font-size: 14px;
margin: 0 auto;
width: 100%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 25px;
  box-sizing: border-box;
  cursor: pointer;
  
}

footer {
  border-top: 1px solid #505050;
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-spacing: 10px;
  position: relative;
}

.right {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.right img {
  width: 40px;
  margin-right: 10px;
}