header {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
h1 {
    text-align: center;
    max-width: 80%;
}
#logo {
    width: 100px;
    height: 80px;
    cursor: pointer;
  }